<!DOCTYPE html>
<html>
    <head>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" href="styles.css">
<!------ Include the above in your HEAD tag ---------->
    </head>
    <body>
      <script src="../js/index.js"></script>
      <!-- <div class="hero-image"> -->
        <img src="logo.jpg" alt="The Spectrum" style="margin-left: 200px;">
      <!-- </div> -->
        <div class="col-xs-12" align="center">
            <div class="col-md-12" >
                <h3 > Import a Dataset </h3>
                <div id="field">
                <div id="field0" style="margin-top: 100px;margin-left: 200px;">
                  <form method="post" action="../../model/currentdataset.php" enctype="multipart/form-data">
<!-- Name-->
<div class="form-group">
  <label class="col-md-2 control-label">Name</label>  
  <div class="col-md-5">
  <input id="name" name="Name" type="text" placeholder="" class="form-control input-md">
  </div>
</div>
<br><br><br>
<!-- Description-->
<div class="form-group">
  <label class="col-md-2 control-label">Description</label>  
  <div class="col-md-5">
  <textarea id="description" name="Description" placeholder="" class="form-control input-md"> </textarea>
  </div>
</div>
<br><br><br><br>
<!-- Split Range-->
<div class="form-group">
  <label class="col-md-2 control-label">Split Range</label>  
  <div class="col-md-5">
  <input id="split-range" name="split" type="number" placeholder="" class="form-control input-md">   
  </div>
</div>
<br><br>

       <!-- File Button --> 
<div class="form-group">
  <label class="col-md-2 control-label" >DataSet</label>
  <div class="col-md-2">
              <input type="file" id="file-input" name="file" class="input-file" accept=".pdf,.csv">
     <div id="action_jsondisplay"></div>
  </div>
</div>
<br><br>
<!-- Question-->
<div class="form-group" id = "question-id">
  <label class="col-md-2 control-label" for="action_question">Question</label>  
  <div class="col-md-5">
  <input id="action_question" name="action_question" type="text" placeholder="" class="form-control input-md">   
  </div>
  <div class="col-md-1">
    <button id="add-more" name="add-more" class="btn btn-primary">Add More</button>
    <!--<button id="remove-more" name="remove-more" class="btn btn-danger">Delete Last Question</button> -->
  </div>
</div>
<br><br>
<input type="submit" name="submit_row" value = "Submit" style="margin-right: 300px;margin-top: 75px;" class="btn btn-primary">
</form>
<!-- <div> 
  <?php include '../../model/currentdataset.php';?>
</div> -->
</div>
</div>
</div>
</div>
</body>
</html>
